@page "/"
@inherits EmployeeListBase

<h3>Selected Employee Count - @SelectedEmployeeCount</h3>
<input type="checkbox" id="showFooter" @bind="ShowFooter"/>
<lable for="showFooter">Show Footer</lable>
@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{

<div class="card-deck">
    @foreach (var employee in Employees)
    {
     <DisplayEmployee Employee="employee" ShowFooter="ShowFooter"
                      OnEmployeeSelection="EmployeeSelectionChanged"></DisplayEmployee>
    }
</div>

}